[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
psycopg2-binary = "*"
redis = "*"
django-rest-framework = "*"
drf-yasg = "*"
django-debug-toolbar = "*"
django-filter = "*"
gunicorn = "*"
environs = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
